<%#= form_tag settings[:filter_path], :html => {:'data-type' => 'html'}, :method => 'POST', :class => 'forms', :remote => true,:id => settings[:form_id] do |f| %>
<fieldset>
  <%#= label_tag :find, "Hledat" %>
  <%#= text_field_tag :find, settings[:default][:find], {:class => 'text', :id => settings[:form_id] + "_live_search"} %>
  <%#= submit_tag "Filter",{:class => 'button'} %>
</fieldset>

<%= hidden_field_tag :order_by, settings[:default][:order_by], :id => settings[:form_id] + '_order_by' %>
<%= hidden_field_tag :order_by_direction, settings[:default][:order_by_direction], :id => settings[:form_id] + '_order_by_direction' %>
<%= hidden_field_tag :page, settings[:default][:page], :id => settings[:form_id] + '_page' %>

<%# end %>

<%#= javascript_include_tag 'backbone_js/tmpl.min.js' %>
<script type="text/javascript">
    $(document).ready(function () {
        <% if settings[:template].blank? %>
        $("#<%= settings[:form_id] %>_ajax_content").html(tmpl('template-ajax-table', jQuery.parseJSON('<%= settings.to_json.html_safe %>')));
        apply_modifiers_of_the_table($("#<%= settings[:form_id] %>_ajax_content"));
        <% end %>
        formatLinkForPaginationURL('<%= settings[:form_id] %>');

        $("#<%= settings[:form_id] %>")
                .live("ajax:beforeSend", function (evt, xhr, settings) {
                    ladas_loading_show();
                })
                .live("ajax:complete", function (evt, xhr, status) {
                    var parsed_response = jQuery.parseJSON(xhr.responseText);

                    //console.log(xhr.responseText)
                    //console.log(parsed_response);
                    //console.log(parsed_response['settings']);
                    $(".<%= settings[:form_id] %>_ajax_pager").html(parsed_response['paginate']);

                    //console.log(ladas_build_table('template-ajax-table', parsed_response));
                    <% if settings[:template].blank? %>
                    var parsed_settings = jQuery.parseJSON(parsed_response['settings'])
                    $("#<%= settings[:form_id] %>_ajax_content").html(tmpl('template-ajax-table', parsed_settings));
                    apply_modifiers_of_the_table($("#<%= settings[:form_id] %>_ajax_content"));

                    <% else %>
                    var raw_html = parsed_response['settings']
                    $("#<%= settings[:form_id] %>_ajax_content").html(raw_html);
                    <% end %>

                    ladas_loading_hide();
                    formatLinkForPaginationURL('<%= settings[:form_id] %>');
                })
    });
</script>


<script id="template-ajax-table" type="text/x-tmpl">
  {% for (var i=0, row ; row=o.data[i]; i++) { %}
  <tr class="">

    {% if (o.row.functions) { %}
    <td>
      {% for (var function_name in o.row.functions) { %}
          {% var settings = o.row.functions[function_name]; %}
          {% settings.symlink_id = row.row_id; %}
          {% stringified_settings = JSON.stringify(settings); %}
          {% var non_ajax_url = build_get_url(settings); %}
          {% if (settings.confirm) { %}
            <a href="{%= non_ajax_url %}" class="{%= settings['class'] %}" onclick="if (confirm('{%= settings.confirm %}')){ load_page({%=stringified_settings%}); }; return false;" >{%= settings.name %}</a>
          {% } else { %}
            <a href="{%= non_ajax_url %}" class="{%= settings['class'] %}" onclick="load_page({%=stringified_settings%}); return false;">{%= settings.name %}</a>
          {% } %}
      {% } %}
    </td>
    {% } %}

    {% for (var j=0, col; col=o.columns[j]; j++) { %}
    <td class="{%= col.class %}">
      {% if (is_hash(row[col.table + '_' + col.name])) { %}
        {% var button_settings = row[col.table + '_' + col.name]; %}
        {% button_settings['origin'] = 'table'; %}
        {% var stringified_button_settings = JSON.stringify(button_settings); %}

        {% if (button_settings.symlink_controller || button_settings.symlink_action || button_settings.symlink_id || button_settings.symlink_outer_controller || button_settings.symlink_outer_id) { %}
            {% var non_ajax_url = build_get_url(button_settings); %}
            <a href="{%= non_ajax_url %}" class="{%= button_settings['class'] %}" data-tr_class="{%= button_settings.tr_class %}" data-td_class="{%= button_settings.td_class %}" onclick="load_page({%= stringified_button_settings %}, this); return false;">{%= button_settings['name'] %}</a>
        {% } else { %}
            <span class="{%= button_settings['class'] %}" data-tr_class="{%= button_settings.tr_class %}">{%= button_settings['name'] %}</span>
        {% } %}
      {% } else if (is_array(row[col.table + '_' + col.name])) { %}
        {% var one_cell_buttons = row[col.table + '_' + col.name]; %}
        {% for (var b=0, one_cell_button; one_cell_button=one_cell_buttons[b]; b++) { %}
          {% var button_settings = one_cell_button; %}
          {% button_settings['origin'] = 'table'; %}
          {% var stringified_button_settings = JSON.stringify(button_settings); %}

          {% if (button_settings.symlink_controller || button_settings.symlink_action || button_settings.symlink_id || button_settings.symlink_outer_controller || button_settings.symlink_outer_id) { %}
              {% var non_ajax_url = build_get_url(button_settings); %}
              <a href="{%= non_ajax_url %}" class="{%= button_settings['class'] %}" data-tr_class="{%= button_settings.tr_class %}" data-td_class="{%= button_settings.td_class %}" onclick="load_page({%= stringified_button_settings %}, this); return false;">{%= button_settings['name'] %}</a>
          {% } else { %}
              <span class="{%= button_settings['class'] %}" data-tr_class="{%= button_settings.tr_class %}">{%= button_settings['name'] %}</span>
          {% } %}
        {% } %}
      {% } else if (is_string(row[col.table + '_' + col.name])) { %}
        {% var sliced_text = row[col.table + '_' + col.name]; %}
        {% if (col.max_text_length) { %}
            {% var max = col.max_text_length - 3; %}
            {% if ( max > 0 && sliced_text.length > max) { %}
                {% sliced_text = sliced_text.slice(0, col.max_text_length) + "..."; %}
            {% } %}
        {% } %}
        <span title="{%= row[col.table + '_' + col.name] %}">{%= sliced_text %}</span>
      {% } else { %}
        <span title="{%= row[col.table + '_' + col.name] %}">{%= row[col.table + '_' + col.name] %}</span>
      {% } %}
    </td>
    {% } %}
  </tr>
  {% } %}
</script>