<table class="table table-bordered table-condensed table_special">
  <thead>
  <!--<tr>-->
  <!--<th colspan="100" class="<%#= settings[:form_id] + '_ajax_pager' %>">-->
  <!--<%#= render :partial => 'helpers/build_table_pager', :locals => {:settings => settings} %>-->
  <!--</th>-->
  <!--</tr>-->
  <tr>
    <% if !settings[:checkboxes].blank? && settings[:checkboxes] %>
        <th class="chbox">

          <!--<div class="checkboxes_filtered">-->
          <!--Filtrováno položek:-->
          <!--<span id="<%#= settings[:form_id]+ "_active_checkboxes_count" %>">-->
          <!--<%#= !settings[:params]["checkbox_pool"].blank? ? settings[:params]["checkbox_pool"].split(",").count : 0 %>-->
          <!--</span>-->
          <!--<a onclick="CheckboxPool.clear_by_form_id('<%#= settings[:form_id] %>')" class="btn uncheck">Odznačit vše</a>-->
          <!--</div>-->

          <!--<span title="Počet označených řádků na všech stránkách" id="<%#= settings[:form_id]+ "_active_checkboxes_count" %>">-->
          <!--<%#= !settings[:params]["checkbox_pool"].blank? ? settings[:params]["checkbox_pool"].split(",").count : 0 %>-->
          <!--</span>-->
          <!--<br/>-->
          <input type="checkbox" title="Označit/odznačit vše na stránce" onclick="CheckboxPool.check_or_uncheck_page(this, '<%= settings[:form_id] %>')" id=""/>

          <!--<div class="checkboxes_menu">-->
          <!--<a onclick="CheckboxPool.uncheck_page('<%#= settings[:form_id] %>')" class="btn">Odznačit vše</a>-->
          <!--<a onclick="CheckboxPool.check_page('<%#= settings[:form_id] %>')" class="btn">Označit vše</a>-->
          <!--</div>-->


        </th>
    <% end %>
    <% if !settings[:row].blank? && !settings[:row][:functions].blank? %>
        <th></th>
    <% end %>
    <% order_by_arr = settings[:params][:order_by].downcase.split(",") unless  settings[:params][:order_by].blank? %>
    <% settings[:columns].each do |col| %>
        <% order_asc_id = (col[:table].blank? || col[:name].blank?) ? "" : (col[:table] + "___" + col[:name] + "___asc") %>
        <% order_desc_id = (col[:table].blank? || col[:name].blank?) ? "" : (col[:table] + "___" + col[:name] + "___desc") %>
        <th class="<%= col[:class] %>">
          <div class="th_label">
            <strong>
              <span><%= col[:label].html_safe %></span>
            </strong>
          </div>

          <% if settings[:display_method].blank? %>
              <div class="sortable clearfix">
                <% if col[:column_method].blank? && col[:row_method].blank? && !col[:name].blank? %>
                    <a href="#"
                       onclick="TableSorting.force_change_sorting('<%= settings[:form_id] %>','<%= col[:table] + "." +col[:name] %>', 'asc', this); return false;"
                       ondblclick="TableSorting.force_change_sorting('<%= settings[:form_id] %>','<%= col[:table] + "." +col[:name] %>', 'asc', this); return false;"
                       title="Seřadit od nejnižší hodnoty"
                       class="btn first sort_button <%= (order_by_arr.include?(col[:table] + "." + col[:name] + " asc")) ? "btn-success" : "" %>"
                       id="<%= order_asc_id %>">
                      <i class="icon-arrow-up"></i>
                    </a>

                    <a href="#"
                       onclick="TableSorting.force_change_sorting('<%= settings[:form_id] %>','<%= col[:table] + "." +col[:name] %>', 'desc', this); return false;"
                       ondblclick="TableSorting.force_change_sorting('<%= settings[:form_id] %>','<%= col[:table] + "." +col[:name] %>', 'desc', this); return false;"
                       title="Seřadit od nejvyšší hodnoty"
                       class="btn sort_button <%= (order_by_arr.include?(col[:table] + "." + col[:name] + " desc")) ? "btn-success" : "" %>"
                       id="<%= order_desc_id %>">
                      <i class="icon-arrow-down"></i>
                    </a>
                <% end %>
              </div>



              <% case col[:filter] %>
          <% when :find %>
                  <div class="inputs clearfix">
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['find'].blank? && !settings[:params]['find']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['find']["#{col[:table]}.#{col[:name]}"] : "" %>
                    <%= text_field_tag "find[#{col[:table]}.#{col[:name]}]", saved_param,
                                       {:class => "text first #{settings[:form_id] + '_column_find'}"} %>
                  </div>
              <% when :find_exact %>
                  <div class="inputs clearfix">
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['find_exact'].blank? && !settings[:params]['find_exact']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['find_exact']["#{col[:table]}.#{col[:name]}"] : "" %>
                    <%= text_field_tag "find_exact[#{col[:table]}.#{col[:name]}]", saved_param,
                                       {:class => "text first #{settings[:form_id] + '_column_find_exact'}"} %>
                  </div>
              <% when :multichoice %>
                  <div class="inputs clearfix">
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['multichoice'].blank? && !settings[:params]['multichoice']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['multichoice']["#{col[:table]}.#{col[:name]}"] : [] %>
                    <%= select_tag("multichoice[#{col[:table]}.#{col[:name]}]", options_for_select(col[:filter_data], saved_param),
                                   :onchange => "form_submit_watcher('#{settings[:form_id]}')",
                                   :multiple => true,
                                   :class => "multiselect_class") %>
                  </div>
              <% when :number %>
                  <div class="inputs range clearfix">
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['date_from'].blank? && !settings[:params]['date_from']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['date_from']["#{col[:table]}.#{col[:name]}"] : "" %>

                    <%= text_field_tag "number_from[#{col[:table]}.#{col[:name]}]", saved_param, {:class => "text first #{settings[:form_id] + '_column_find'}",
                                                                                                  :onchange => "form_submit_watcher('#{settings[:form_id]}')",
                                                                                                  :placeholder => "min.",
                                                                                                  :title => "Hodnota musí být vetší nebo rovna zadané hodnotě"} %>
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['date_to'].blank? && !settings[:params]['date_to']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['date_to']["#{col[:table]}.#{col[:name]}"] : "" %>
                    <%#= label_tag "date_to[#{col[:table]}.#{col[:name]}]", "Do", :class => "datetime_class_label" %>
                    <%= text_field_tag "number_to[#{col[:table]}.#{col[:name]}]", saved_param, {:class => "text #{settings[:form_id] + '_column_find'}",
                                                                                                :onchange => "form_submit_watcher('#{settings[:form_id]}')",
                                                                                                :placeholder => "max.",
                                                                                                :title => "Hodnota musí být menší nebo rovna zadané hodnotě"} %>
                  </div>
              <% when :date %>
                  <div class="inputs range clearfix">
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['date_from'].blank? && !settings[:params]['date_from']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['date_from']["#{col[:table]}.#{col[:name]}"] : "" %>
                    <%#= label_tag "date_from[#{col[:table]}.#{col[:name]}]", "Od", :class => "datetime_class_label" %>
                    <%= text_field_tag "date_from[#{col[:table]}.#{col[:name]}]", saved_param, {:class => "text datetime_class first",
                                                                                                :onchange => "form_submit_watcher('#{settings[:form_id]}')",
                                                                                                :placeholder => "od",
                                                                                                :title => "Datum od"} %>
                    <% saved_param = (!settings[:params].blank? && !settings[:params]['date_to'].blank? && !settings[:params]['date_to']["#{col[:table]}.#{col[:name]}"].blank?) ? settings[:params]['date_to']["#{col[:table]}.#{col[:name]}"] : "" %>
                    <%#= label_tag "date_to[#{col[:table]}.#{col[:name]}]", "Do", :class => "datetime_class_label" %>
                    <%= text_field_tag "date_to[#{col[:table]}.#{col[:name]}]", saved_param, {:class => "text datetime_class",
                                                                                              :onchange => "form_submit_watcher('#{settings[:form_id]}')",
                                                                                              :placeholder => "do",
                                                                                              :title => "Datum do"} %>
                  </div>
              <% else %>
              <% end %>

          <% end %>
        </th>

    <% end %>
  </tr>

  </thead>
  <tbody id="<%= settings[:form_id] %>_ajax_content">
  <% unless settings[:template].blank? %>
      <%= render :partial => settings[:template], :locals => {:settings => settings} %>
  <% end %>
  </tbody>
  <tfoot>
  <!--<tr>-->
  <!--<th colspan="100" class="<%#= settings[:form_id] + '_ajax_pager' %>">-->
  <!--<%#= render :partial => 'helpers/build_table_pager', :locals => {:settings => settings} %>-->
  <!--</th>-->
  <!--</tr>-->
  </tfoot>
</table>

<script type="text/javascript">
    $('.<%= settings[:form_id] + "_column_find" %>').livesearch({
        searchCallback:function (searchTerm) {
            $('#<%= settings[:form_id] %>').submit();
        },
        queryDelay:1000,
        innerText:"",
        minimumSearchLength:1
    });
</script>


<script type="text/javascript">
    $.datepicker.setDefaults($.datepicker.regional[ "cs" ]);
    $('.datetime_class').datetimepicker({
        dateFormat:"yy-mm-dd",
        timeFormat:'hh:mm',
        separator:' ',
        changeYear:true,
        yearRange:'<%= Date.today.year - 100 %>:<%= Date.today.year + 30 %>',
        changeMonth:true
    });
</script>


<script type="text/javascript">
    $('.multiselect_class').multiselect({
        selectedText:'<span class="active_multiselect">*****</span>',
        noneSelectedText:"",
        checkAllText:"Označit vše",
        uncheckAllText:"Zrušit vše",
        minWidth:100
    },function () {
        form_submit_watcher('<%=settings[:form_id] %>');
    }).multiselectfilter();
    //$('#filled_value_' + fid + '_' + rid).multiselect("open");
    $(".ui-multiselect-menu").css("width", "240px");
    $("button.ui-multiselect").css("width", "55px");
    $("button.ui-multiselect").css("height", "28px");

    $('.multiselect_class').bind("multiselectcheckall", function (event, ui) {
        form_submit_watcher('<%=settings[:form_id] %>');
    });
    $('.multiselect_class').bind("multiselectuncheckall", function (event, ui) {
        form_submit_watcher('<%=settings[:form_id] %>');
    });
</script>