<div class="filter-paging clearfix <%= placement if defined? placement %>">
  <div class="reset">
    <%= ajax_post_link_to "Smazat filtr", settings[:filter_path],
                          "data-content_id" => settings[:content_id].blank? ? "" : settings[:content_id],
                          :class => "btn",
                          "data-post" => {:clear => true}.to_json %>
  </div>

  <% if settings[:data_paginate].total_pages > 1 %>
      <div id="<%= settings[:form_id] %>_pagination" class="paging <%= settings[:form_id] %>_pager">
        <div class="goToPage">
          <input type="text" class="own_page" value="<%= settings[:params].blank? ? 1 : settings[:params]["page"] %>"
                 placeholder="Strana"
                 onkeypress="paginate_by_enter('<%= settings[:form_id] %>', this, event);">
          <button class="btn" onclick='$("#" + "<%= settings[:form_id] %>" + "_page").val($(this).prev("input").val()); $("#" + "<%= settings[:form_id] %>").submit(); return false;'>Přejít</button>
        </div>
        <div class="pages">
          <%= will_paginate settings[:data_paginate], {:container => false, :inner_window => 1, :outer_window => 1} %>
          <%= page_entries_info settings[:data_paginate] %>
        </div>
      </div>

  <% else %>
      <div id="<%= settings[:form_id] %>_pagination" class="paging <%= settings[:form_id] %>_pager">
        <div class="pages">
          <%= page_entries_info settings[:data_paginate] %>
        </div>
      </div>
  <% end %>
</div>

